*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: black;
    padding: 0.5vw;
    display: flex;
}
body{
    background-color: #000;
}
.content{
    display: flex;
    gap: 8px;
}
.left{
    /* position: fixed; */
    height: 87vh;
    width: 27.5vw;
    background-color: #000;
    /* padding: 0.5vw; */
    gap: 1.3vh;
    display: flex;
    flex-direction: column;
}
.right{
    /* position: relative; */
    width: 71vw;
    height: 87vh;
    /* background-image: linear-gradient(180deg, #3c5e58 0%, #2e4541 30%, #212d2b 65%, #141515 100%); */
    background-color: #121212;
    border-radius: 8px;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 4px;
    background-color: inherit;
}
::-webkit-scrollbar-track{
    background-color: inherit;
}
::-webkit-scrollbar-thumb{
    background-color: #a7a7a7;
}
.home{
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    align-items: center;
    display: flex;
    font-size: 15px;
    gap: 20px;
    margin-left: 24px;
    cursor: pointer;
}
.home:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    transition: .5s;
}
.search{
    font-family: sans-serif;
    font-weight: 700;
    color: #a7a7a7;
    align-items: center;
    display: flex;
    font-size: 15px;
    gap: 20px;
    margin-left: 24px;
    cursor: pointer;
}
.search:hover{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    transition: .5s;
}
.left .top{
    /* position: fixed; */
    display: flex;
    height: 16vh;
    border-radius: 8px;
    background-color: #121212;
    padding: 0px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    justify-content: center;
    gap: 24px;
}
.bottom{
    /* position: fixed; */
    height: 70.6vh;
    border-radius: 8px;
    background-color: #121212;;
}
/* • */
.line1{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.line1-left{
    color: #a7a7a7;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#your-library img{
    /* margin-left: 12px; */
    margin-right: 12px;
}
#your-library{
    background-color: #121212;
    border: none;
    color: #a7a7a7;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    cursor: pointer;
}
#your-library:hover{
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    transition: .5s;
}
#plus, #arrow{
    background-color: #121212;
    border: none;
    color: #a7a7a7;
    padding: 8px;
    cursor: pointer;
}

.line2{
    height: 42px;
    /* width: 360px; */
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-left: 20px;
}
#playlists{
    height: 32px;
    width: 75px;
    background-color: #232323;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 9999px;
    cursor: pointer;
}
#artists{
    height: 32px;
    width: 64.93px;
    background-color: #232323;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 9999px;
    cursor: pointer;
}
#playlists span{
    height: 32px;
    width: 75px;
    background-color: #232323;
}
#artists span{
    height: 32px;
    width: 64.93px;
}
.line3{
    width: 360px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}
.line3 :nth-child(1){
    margin-left: 0;
    height: 18px;
    background-color: #121212;
    border: none;
    
}
#recents{
    background-color: #121212;
    color: #a7a7a7;
    border: none;
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}
#recents img{
    height: 16px;
}
.last-line{
    margin-top: 14px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-content: space-evenly; */
}
.left-bottom-cards{
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin-top: 0; */
    height: 64px;
    width: 96%;
    border-radius: 6px;
    background-color: #121212;
    cursor: pointer;
}
.title{
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}
.des{
    color: #a7a7a7;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.icon{
    height: 48px;
    width: 48px;
    margin-right: 14px;
}
.icon img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
#lbc1 .icon img{
    border-radius: 5px;
}
.lbc1-des .des img{
    height: 12px;
    filter: brightness(3);
}
.lbc1-des, .lbc2-des, .lbc3-des, .lbc4-des{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #000;
    margin-top: 2px;
    display: flex;
    position: fixed;
    /* justify-content: space-between; */
    /* margin: 0px 14px; */
}
.footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 21vw;
    gap: 14px;
}
.f-icon img{
    height: 56px;
    width: 56px;
    border-radius: 4px;

}
.f-name{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.f-song{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.f-artist{
    color: #a7a7a7;
    font-family: sans-serif;
    font-size: 12px;
    /* font-weight: 600; */
}
.like{
    height: 16px;
    width: 16px;
    background-color: inherit;
    border: none;
    margin-left: 14px;
}
.footer-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 22vw; */
    margin-bottom: 16px;
}
.shuffle{
    height: 32px;
    width: 32px;
    background-color: #000;
    border: none;
    margin-top: 5px;
}
.previous{
    height: 32px;
    width: 32px;
    background-color: #000;
    border: none;
    margin-top: 5px;
}
.pause{
    height: 36px;
    width: 36px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: inline-block;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.next{
    height: 32px;
    width: 32px;
    background-color: #000;
    border: none;
    margin-top: 5px;
}
.replay{
    height: 32px;
    width: 32px;
    background-color: #000;
    border: none;
    margin-top: 5px;
}
.shuffle img{
    height: 16px;
    width: 16px;
    /* margin-top: 6px; */
}
.previous img{
    height: 16px;
    width: 16px;
}
.pause img{
    height: 18px;
    width: 18px;
    margin-top: 4px;
}
.next img{
    height: 16px;
    width: 16px;
}
.replay img{
    height: 16px;
    width: 16px;
}
.up{
    display: flex;
    gap: 10px;
}
.down{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.down p{
    color: #a7a7a7;
    font-family: sans-serif;
    font-size: 12px;
}
.play-bar{
    height: 2px;
    width: 30vw;
    background-color: #000;
    display: flex;
    border-radius: 4px;
    align-items: center;
    /* margin-top: 12px; */
}
.played{
    height: 3px;
    width: 13vw;  
    background-color: #06b345; 
    border-radius: 8px;
}
.circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
}
.remaining{
    height: 3px;
    width: 17vw;
    background-color: #232323;
    border-radius: 8px;
}
.footer-right{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 12vw;
}
.now-playing{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
.mic{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
.list{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
.speaker{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
.volume{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
.vol-bar{
    height: 3px;
    width: 84px;
    border-radius: 8px;
    background-color: #fff;
}
.cast{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
.expand{
    height: 16px;
    width: 16px;
    background-color: #000;
    border: none;
}
nav{
    height: 64px;
    width: auto;
    border-radius: 8px 8px 0px 0px;
    /* background-color: #3d605a; */
}
.heading{
    color: #fff;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    /* display: flex; */
    margin-left: 24px;
    margin-top: 6px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    position: sticky;
    height: 64px;
    /* width: 100%; */
    background-color: #324c47;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.nav-left button{
    height: 32px;
    width: 32px;
    background-color: #111a18;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.premium{
    height: 32px;
    width: 143px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}
.install{
    width: 118.58px;
    height: 32px;
    background-color: #1a2725;
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}
.bell{
    height: 32px;
    width: 32px;
    background-color: #1a2725;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.profile{
    height: 32px;
    width: 32px;
    background-color: #1a2725;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* position: absolute; */
}
.profile p{
    height: 24px;
    width: 24px;
    background-color: rgb(245, 115, 160);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    transform: translateX(4.2px);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(180deg, #3c5e58 0%, #2e4541 30%, #212d2b 65%, #141515 100%);
}
.right-up-cards{
    height: 104px;
    width: 1024px;
    margin: 6px 24px;
    display: grid;
    /* grid-template-columns: 231.04px 231.05px 231.04px 231.05px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    gap: 8px;
}
.shubh-mix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.one-love{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.liked-songs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.shubh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.kishore-kumar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.love-hits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.mega-hit-mix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.daily-mix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3a4d4a;
    border: none;
    border-radius: 4px;
    gap: 12px;
    opacity: 1;
}
.right-up-cards button img{
    border-radius: 4px 0px 0px 4px;
}
.card-pause{
    margin: 8px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06b345;
    border-radius: 50%;
    /* visibility: hidden; */
    opacity: 0;
}
.card-pause:hover{
    /* visibility: visible; */
    z-index: 1;
    opacity: 1;
    transition: .3s;
}
.right-up-cards button:hover{
    .card-pause{
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }
    .intro{
        background-image: linear-gradient(90deg, #3b1518 0%, #301416 30%, #211214 65%, #1b1213 100%);
        transition: .2s;
    }
    background-color: #485e5a;
    transition: .2s;
}
.card-div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.heading-1{
    height: 60px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0px 24px;
}
.heading-1 p{
    font-family: sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.heading-1 p:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.heading-1 button{
    height: 32px;
    border: none;
    background-color: inherit;
    color: #a7a7a7;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: end;
    cursor: pointer;
}
.heading-1 button:hover{
    text-decoration: underline;
    text-decoration-color: #a7a7a7;
    text-decoration-thickness: 1.5px;
}
.right-content{
    width: 1024px;
}
.rc-con{
    /* height: 104px; */
    width: 1040px;
    margin: 10px 24px;
    display: grid;
    /* grid-template-columns: 231.04px 231.05px 231.04px 231.05px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 270px;
    column-gap: 24px;
    /* gap: 8px; */
}
.dm1{
    background-color: #161616;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 12px; */
}
#dm-img{
    height: 155.15px;
    width: 155.15px;
    border-radius: 6px;
    margin-left: 17px;
}
.con-title{
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 22px;
}
.con-des{
    color: #a7a7a7;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    /* margin-left: 17px;
    margin-top: 12px; */
    /* gap: 4px; */
    line-height: 17px;
    margin: 12px 17px 0 17px;
}
.dm2{
    background-color: #161616;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 12px; */
}
#dm-img{
    height: 155.15px;
    width: 155.15px;
    border-radius: 6px;
    margin-left: 17px;
}
.con-title{
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 22px;
}
.con-des{
    color: #a7a7a7;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    /* margin-left: 17px;
    margin-top: 12px; */
    /* gap: 4px; */
    line-height: 17px;
    margin: 12px 17px 0 17px;
}
.dm3{
    background-color: #161616;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 12px; */
}
#dm-img{
    height: 155.15px;
    width: 155.15px;
    border-radius: 6px;
    margin-left: 17px;
}
.con-title{
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 22px;
}
.con-des{
    color: #a7a7a7;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    /* margin-left: 17px;
    margin-top: 12px; */
    /* gap: 4px; */
    line-height: 17px;
    margin: 12px 17px 0 17px;
}
.dm4{
    background-color: #161616;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 12px; */
}
#dm-img{
    height: 155.15px;
    width: 155.15px;
    border-radius: 6px;
    margin-left: 17px;
}
.con-title{
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 22px;
}
.con-des{
    color: #a7a7a7;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    /* margin-left: 17px;
    margin-top: 12px; */
    /* gap: 4px; */
    line-height: 17px;
    margin: 12px 17px 0 17px;
}
.dm5{
    background-color: #161616;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 12px; */
}
.dm-img{
    /* margin-top: 52px; */
    height: 155.15px;
    width: 155.15px;
    border-radius: 6px;
    margin-left: 17px;
}
.con-title{
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 22px;
}
.dm-con{
    height: 155.15px;
}
.con-des{
    color: #a7a7a7;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    /* margin-left: 17px;
    margin-top: 12px; */
    /* gap: 4px; */
    line-height: 17px;
    margin: 12px 17px 0 17px;
}
.con-pause{
    margin: 8px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06b345;
    border-radius: 50%;
    /* visibility: hidden; */
    opacity: 0;
    margin-left: auto;
    transform: translateY(-68PX);
}
#con-pause-img{
    height: 20px;
    width: 20px;
}
.dm1:hover, .dm2:hover, .dm3:hover, .dm4:hover, .dm5:hover{
    .con-pause{
        opacity: 1;
        animation: pause .3s ease none;
    }
}
@keyframes pause {
    0%{
        transform: translateY(-58px);
        opacity: 0.3;
    }
    100%{
        transform: translateY(-68px);
        opacity: 1;
    }
}
.left-bottom-cards:hover{
    background-color: #1b1b1b;
    /* border-radius: 8px; */
}